<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

  <appSettings>

    <!--<add key="PATHIP" value="192.168.60.1 " />-->
    <add key="PATHIP" value="127.0.0.1"/>
    <add key="PATHPORT" value="5556"/>

    <add key="MAPPath" value="..\..\ElcMap.xml"/>
    <add key="AGVPath" value="..\..\AGV.xml"/>
    
  </appSettings>
  
</configuration>
